* {
    text-decoration: none;
    margin: 0;
}
    /* CONTROL + SHIFT + A */
a {
    text-transform: uppercase;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: black;
    display: flex;
    align-items: center;
}

a:visited {
    color: black;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    font-size: 1.7vw;
}

nav {
    background-color: #ab1111;
    padding: 1vw;
}

h1{
    text-transform: uppercase;
    text-align: center;
    color: aliceblue;
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 6vw;
}
p{
    text-align: center;
    color: aliceblue;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
}
h2{
    text-align: center;
    text-transform: none;
    color: aliceblue;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
    background-image: url(../IMG/fondo_texto.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2vw 0;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;


}
.logo img{
    width: 50%;
    position: absolute;

}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 100%;
}

.seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vw 0px

}
.seccion img{
    width: 100%;
}
.info{
    width: 40%;

}
.redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../IMG/fondo_texto.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.5vw
}
.redes img{
    width: 100%;
    padding: 0px 1.5vw;
}
.newsletter{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    padding: 0 5vw;
}
.imagen_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imagen_nav img{
    width: 2.5vw;
    vertical-align: middle;
    padding: 0px 1vw;
}
.seccion_pagina_titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}.seccion_pagina_titulo img{
    width: 100%;
}
.seccion_pagina_titulo h1{
    position: absolute;
    padding: 6vw;
    width: fit-content;
    background-image: url(../IMG/fondo_texto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.navigation{
    position: sticky;
    z-index: 10;
    top: 0px;
}
.seccion_tienda{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vw 0;
    width: 100%;
}
.item{
width: 20%;
}
.item img{
    background-color: black;
    padding: 3vw 0;
    width: 100%;
}

.footer{
    background-color: #ab1111;
    text-align: center;
}
.footer img{
    width: 5%;
}
.barras{
    width: 100%;
    position: absolute;
}
.barras img{
    width: 100%;
}
#banner{
    background-image:
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_rojo.png);
    background-position: 
        bottom center,
        center; 
    background-size: 
        100%,
        cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#discografia {
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_verde.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
}
#fechas{
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_violeta.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
}
#galeria{
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_gris.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
}
#comunidad{
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_amarillo.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
}
#miembros{
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_blanco.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
    padding: 15vw;
}
#vito{
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_amarillo.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
}
#lauti{
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_cian.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
}
#alexis{
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_violeta.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
}
#marco{
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_rojo.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
}
#pipo{
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_verde.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
}
.tienda{
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_blanco.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
    padding: 10vw 0px;
}
.login{
    background-image:
        url(../IMG/Barras_abajo.png),
        url(../IMG/Barras_arriba.png),
        url(../IMG/fondo_vik_blanco.png);
    background-position: 
        top center,
        bottom center,
        center; 
    background-size: 
        100%,
        100%,
        cover;
    background-repeat: no-repeat;
    padding: 10vw 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inicio_sesion_card{
    background-color: black;
    border-radius: 1vw;
    padding: 2vw;
    width: 40%;
}
.etiqueta_campo_login{
    color: aliceblue;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}
.campo_login{
    color: black;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    box-sizing: border-box;

}
.div_login{
    padding: 1vw;
}
.centrar{
    display: flex;
    justify-content: center;
}
.post{
    display: flex;
    justify-content: space-between;

    background-color: #ab1111;
    border-radius: 1vw;
}
.post_comentarios ul{
    list-style: none ;
}